html {
    height: 100%;
}

body {
    background: #333333 url(lightning.png) center center no-repeat;
    color: #ffffff;
    font: normal 18px/24px Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

.wrapper {
    height: 430px;
    left: 50%;
    margin: -243px 0 0 -321px;
    position: absolute;
    top: 50%;
    width: 649px;
}


h1 {
    margin: 150px 0 0 0;
}

h1 a {
    background: url(loginov.png) center center no-repeat;
    display: block;
    height: 0;
    line-height: 78px;
    overflow: hidden;
    padding: 107px 20px 0 20px;
    margin: 0 -20px 0 -20px;
}


ul {
    list-style: none;
    margin: 0 0 0 -15px;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
    margin-right: 16px;
}

ul li:last-of-type {
    margin-right: 0;
}

ul a {
    background-repeat: no-repeat;
    background-position: center 15px;
    display: block;
    height: 0;
    line-height: 48px;
    overflow: hidden;
    padding: 78px 15px 0 15px;
}

ul a:hover {
    background-position: center -48px;
}

ul a:active {
    margin-top: 1px;
}


.lis a {
    background-image: url(lis.png);
    width: 128px;
}

.chaser a {
    background-image: url(chaser.png);
    width: 64px;
}

.email a {
    background-image: url(email.png);
    width: 64px;
}

.vkontakte a {
    background-image: url(vkontakte.png);
    width: 64px;
}

.instagram a {
    background-image: url(instagram.png);
    width: 48px;
}

.facebook a {
    background-image: url(facebook.png);
    width: 24px;
}
